
.sombra { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.txt-p { font-size: 0.8em; }
.txt-m { font-size: 1em; }
.txt-g { font-size: 1.2em; }
.txt-gg { font-size: 1.6em; }

.txt-left { text-align: left; }
.txt-center { text-align: center; }
.txt-right { text-align: right; }

.f-left { float: left; }
.f-right { float: right; }

.uppercase { text-transform: uppercase; }

.relative { position: relative; }
.static { position: static }

.w1 { width: 1%; }
.w2 { width: 2%; }
.w3 { width: 3%; }
.w4 { width: 4%; }
.w5 { width: 5%; }
.w6 { width: 6%; }
.w7 { width: 7%; }
.w8 { width: 8%; }
.w9 { width: 9%; }
.w10 { width: 10%;}
.w11 { width: 11%;}
.w12 { width: 12%;}
.w13 { width: 13%;}
.w14 { width: 14%;}
.w15 { width: 15%;}
.w16 { width: 16%;}
.w17 { width: 17%;}
.w18 { width: 18%;}
.w19 { width: 19%;}
.w20 { width: 20%;}
.w21 { width: 21%;}
.w22 { width: 22%;}
.w23 { width: 23%;}
.w24 { width: 24%;}
.w25 { width: 25%;}
.w26 { width: 26%;}
.w27 { width: 27%;}
.w28 { width: 28%;}
.w29 { width: 29%;}
.w30 { width: 30%;}
.w31 { width: 31%;}
.w32 { width: 32%;}
.w33 { width: 33%;}
.w34 { width: 34%;}
.w35 { width: 35%;}
.w36 { width: 36%;}
.w37 { width: 37%;}
.w38 { width: 38%;}
.w39 { width: 39%;}
.w40 { width: 40%;}
.w41 { width: 41%;}
.w42 { width: 42%;}
.w43 { width: 43%;}
.w44 { width: 44%;}
.w45 { width: 45%;}
.w46 { width: 46%;}
.w47 { width: 47%;}
.w48 { width: 48%;}
.w49 { width: 49%;}
.w50 { width: 50%;}
.w51 { width: 51%;}
.w52 { width: 52%;}
.w53 { width: 53%;}
.w54 { width: 54%;}
.w55 { width: 55%;}
.w56 { width: 56%;}
.w57 { width: 57%;}
.w58 { width: 58%;}
.w59 { width: 59%;}
.w60 { width: 60%;}
.w61 { width: 61%;}
.w62 { width: 62%;}
.w63 { width: 63%;}
.w64 { width: 64%;}
.w65 { width: 65%;}
.w66 { width: 66%;}
.w67 { width: 67%;}
.w68 { width: 68%;}
.w69 { width: 69%;}
.w70 { width: 70%; min-width: 70%; max-width: 70%; }
.w71 { width: 71%; min-width: 71%; max-width: 71%; }
.w72 { width: 72%; min-width: 72%; max-width: 72%; }
.w73 { width: 73%; min-width: 73%; max-width: 73%; }
.w74 { width: 74%; min-width: 74%; max-width: 74%; }
.w75 { width: 75%; min-width: 75%; max-width: 75%; }	
.w76 { width: 76%; min-width: 76%; max-width: 76%; } 
.w77 { width: 77%; min-width: 77%; max-width: 77%; } 
.w78 { width: 78%; min-width: 78%; max-width: 78%; } 
.w79 { width: 79%; min-width: 79%; max-width: 79%; } 
.w80 { width: 80%; min-width: 80%; max-width: 80%; }
.w81 { width: 81%; min-width: 81%; max-width: 81%; }
.w82 { width: 82%; min-width: 82%; max-width: 82%; }
.w83 { width: 83%; min-width: 83%; max-width: 83%; }
.w84 { width: 84%; min-width: 84%; max-width: 84%; }
.w85 { width: 85%; min-width: 85%; max-width: 85%; }
.w86 { width: 86%; min-width: 86%; max-width: 86%; }
.w87 { width: 87%; min-width: 87%; max-width: 87%; }
.w88 { width: 88%; min-width: 88%; max-width: 88%; }
.w89 { width: 89%; min-width: 89%; max-width: 89%; }
.w90 { width: 90%; min-width: 90%; max-width: 90%; }
.w91 { width: 91%; min-width: 91%; max-width: 91%; }
.w92 { width: 92%; min-width: 92%; max-width: 92%; }
.w93 { width: 93%; min-width: 93%; max-width: 93%; }
.w94 { width: 94%; min-width: 94%; max-width: 94%; }
.w95 { width: 95%; min-width: 95%; max-width: 95%; }
.w96 { width: 96%; min-width: 96%; max-width: 96%; }
.w97 { width: 97%; min-width: 97%; max-width: 97%; }
.w98 { width: 98%; min-width: 98%; max-width: 98%; }
.w99 { width: 99%; min-width: 99%; max-width: 99%; }
.w100 { width: 100%; min-width: 100%; max-width: 100%; }

.ht1 { height: 1em; min-height: 1em; max-height: 1em; }
.ht2 { height: 2em; min-height: 2em; max-height: 2em; }
.ht3 { height: 3em; min-height: 3em; max-height: 3em; }
.ht4 { height: 4em; min-height: 4em; max-height: 4em; }
.ht5 { height: 5em; min-height: 5em; max-height: 5em; }
.ht6 { height: 6em; min-height: 6em; max-height: 6em; }
.ht7 { height: 7em; min-height: 7em; max-height: 7em; } 
.ht8 { height: 8em; min-height: 8em; max-height: 8em; }
.ht9 { height: 9em; min-height: 9em; max-height: 9em; }

.m-off { margin: 0px; }

.m-1-left-perc { margin-left: 1%; }
.m-1-right-perc { margin-right: 1%; }
.m-1-top-perc { margin-top: 1%; }
.m-1-bottom-perc { margin-bottom: 1%; }

.m-2-left-perc { margin-left: 2%; }
.m-2-right-perc { margin-right: 2%; }
.m-2-top-perc { margin-top: 2%; }
.m-2-bottom-perc { margin-bottom: 2%; }

.m-3-left-perc { margin-left: 3%; }
.m-3-right-perc { margin-right: 3%; }
.m-3-top-perc { margin-top: 3%; }
.m-3-bottom-perc { margin-bottom: 3%; }

.m-4-left-perc { margin-left: 4%; }
.m-4-right-perc { margin-right: 4%; }
.m-4-top-perc { margin-top: 4%; }
.m-4-bottom-perc { margin-bottom: 4%; }

.m-5-left-perc { margin-left: 5%; }
.m-5-right-perc { margin-right: 5%; }
.m-5-top-perc { margin-top: 5%; }
.m-5-bottom-perc { margin-bottom: 5%; }

.m-0_2-left { margin-left: 0.2em; }
.m-0_2-right { margin-right: 0.2em; }
.m-0_2-top { margin-top: 0.2em; }
.m-0_2-bottom { margin-bottom: 0.2em; }

.m-0_4-left { margin-left: 0.4em; }
.m-0_4-right { margin-right: 0.4em; }
.m-0_4-top { margin-top: 0.4em; }
.m-0_4-bottom { margin-bottom: 0.4em; }

.m-0_6-left { margin-left: 0.6em; }
.m-0_6-right { margin-right: 0.6em; }
.m-0_6-top { margin-top: 0.6em; }
.m-0_6-bottom { margin-bottom: 0.6em; }

.m-0_8-left { margin-left: 0.8em; }
.m-0_8-right { margin-right: 0.8em; }
.m-0_8-top { margin-top: 0.8em; }
.m-0_8-bottom { margin-bottom: 0.8em; }

.m-1-left { margin-left: 1em; }
.m-1-right { margin-right: 1em; }
.m-1-top { margin-top: 1em; }
.m-1-bottom { margin-bottom: 1em; }

.m-1_2-left { margin-left: 1.2em; }
.m-1_2-right { margin-right: 1.2em; }
.m-1_2-top { margin-top: 1.2em; }
.m-1_2-bottom { margin-bottom: 1.2em; }

.m-1_4-left { margin-left: 1.4em; }
.m-1_4-right { margin-right: 1.4em; }
.m-1_4-top { margin-top: 1.4em; }
.m-1_4-bottom { margin-bottom: 1.4em; }

.m-1_6-left { margin-left: 1.6em; }
.m-1_6-right { margin-right: 1.6em; }
.m-1_6-top { margin-top: 1.6em; }
.m-1_6-bottom { margin-bottom: 1.6em; }

.m-1_8-left { margin-left: 1.8em; }
.m-1_8-right { margin-right: 1.8em; }
.m-1_8-top { margin-top: 1.8em; }
.m-1_8-bottom { margin-bottom: 1.8em; }

.m-2-left { margin-left: 2em; }
.m-2-right { margin-right: 2em; }
.m-2-top { margin-top: 2em; }
.m-2-bottom { margin-bottom: 2em; }

.m-3-left { margin-left: 3em; }
.m-3-right { margin-right: 3em; }
.m-3-top { margin-top: 3em; }
.m-3-bottom { margin-bottom: 3em; }

.m-4-left { margin-left: 4em; }
.m-4-right { margin-right: 4em; }
.m-4-top { margin-top: 4em; }
.m-4-bottom { margin-bottom: 4em; }

.m-5-left { margin-left: 5em; }
.m-5-right { margin-right: 5em; }
.m-5-top { margin-top: 5em; }
.m-5-bottom { margin-bottom: 5em; }

.p-0_2-left { padding-left: 0.2em; }
.p-0_2-right { padding-right: 0.2em; }
.p-0_2-top { padding-top: 0.2em; }
.p-0_2-bottom { padding-bottom: 0.2em; }

.p-0_4-left { padding-left: 0.4em; }
.p-0_4-right { padding-right: 0.4em; }
.p-0_4-top { padding-top: 0.4em; }
.p-0_4-bottom { padding-bottom: 0.4em; }

.p-0_6-left { padding-left: 0.6em; }
.p-0_6-right { padding-right: 0.6em; }
.p-0_6-top { padding-top: 0.6em; }
.p-0_6-bottom { padding-bottom: 0.6em; }

.p-0_8-left { padding-left: 0.8em; }
.p-0_8-right { padding-right: 0.8em; }
.p-0_8-top { padding-top: 0.8em; }
.p-0_8-bottom { padding-bottom: 0.8em; }

.p-1-left { padding-left: 1em; }
.p-1-right { padding-right: 1em; }
.p-1-top { padding-top: 1em; }
.p-1-bottom { padding-bottom: 1em; }

.p-1_2-left { padding-left: 1.2em; }
.p-1_2-right { padding-right: 1.2em; }
.p-1_2-top { padding-top: 1.2em; }
.p-1_2-bottom { padding-bottom: 1.2em; }

.p-1_4-left { padding-left: 1.4em; }
.p-1_4-right { padding-right: 1.4em; }
.p-1_4-top { padding-top: 1.4em; }
.p-1_4-bottom { padding-bottom: 1.4em; }

.p-1_6-left { padding-left: 1.6em; }
.p-1_6-right { padding-right: 1.6em; }
.p-1_6-top { padding-top: 1.6em; }
.p-1_6-bottom { padding-bottom: 1.6em; }

.p-1_8-left { padding-left: 1.8em; }
.p-1_8-right { padding-right: 1.8em; }
.p-1_8-top { padding-top: 1.8em; }
.p-1_8-bottom { padding-bottom: 1.8em; }

.p-2-left { padding-left: 2em; }
.p-2-right { padding-right: 2em; }
.p-2-top { padding-top: 2em; }
.p-2-bottom { padding-bottom: 2em; }

.p-3-left { padding-left: 3em; }
.p-3-right { padding-right: 3em; }
.p-3-top { padding-top: 3em; }
.p-3-bottom { padding-bottom: 3em; }

.p-4-left { padding-left: 4em; }
.p-4-right { padding-right: 4em; }
.p-4-top { padding-top: 4em; }
.p-4-bottom { padding-bottom: 4em; }

.p-5-left { padding-left: 5em; }
.p-5-right { padding-right: 5em; }
.p-5-top { padding-top: 5em; }
.p-5-bottom { padding-bottom: 5em; }

.v-align-top { vertical-align: top; }
.v-align-middle { vertical-align: middle; }
.v-align-bottom { vertical-align: bottom; }

.btn-primary {
    color: #fff;
    background-color: #5796cc;
    border-color: #5796cc;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4586be;
    border-color: #4586be;
}

.btn-success {
    color: #fff;
    background-color: #62ab62;
    border-color: #62ab62;
}

.btn-success:hover {
    color: #fff;
    background-color: #4f9d4f;
    border-color: #4f9d4f;
}

.btn-info {
    color: #fff;
    background-color: #7acce4;
    border-color: #7acce4;
}

.btn-info:hover {
    color: #fff;
    background-color: #6dc7e1;
    border-color: #6dc7e1;
}

.btn-danger {
    color: #fff;
    background-color: #da5e5b;
    border-color: #da5e5b;
}

.btn-danger:hover {
    color: #fff;
    background-color: #cd4e4a;
    border-color: #cd4e4a;
}

.has-error .checkbox, 
.has-error .checkbox-inline, 
.has-error .control-label, 
.has-error .help-block, 
.has-error .radio, 
.has-error .radio-inline, 
.has-error.checkbox label, 
.has-error.checkbox-inline label, 
.has-error.radio label, 
.has-error.radio-inline label {
    color: #da5e5b;
}

.has-error .form-control {
    border-color: #da5e5b;
}